{% load staticfiles %} <!-- CARREGA ARQUIVOS ESTATICOS-->

<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Blog construído em Django 1.11</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <!--importar uma fonte chamada Lobster do Google Fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
  </head>
  <body>
    <div class="page-header">
      <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
      <h1><a href="#">Thurrrr do Milhão</a></h1>
    </div>

    <!--<img src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Logo_2013_Google.png">

     <img src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Logo_2013_Google.png"> -->

    <div class="menu-container">
      <ul class="menu clearfix">
          <li>
            <a href="{% url 'post_historia' %}">História do Blog</a></li>

          <li>
            <a href="#">Resumo de livros</a>
            <ul class="sub-menu clearfix">
              <li><a href="#">Ciência para Ficar Rico</a></li>
              <li><a href="#">Ciência para Ficar Rico</a></li>
              <li><a href="#">Ciência para Ficar Rico</a></li>

            </ul>
          </li>


          <li><a href="http://www.muz.ifsuldeminas.edu.br/index.php/gerais/5156-palestraegressos" target="_blank">Palestras ministradas</a></li>
          <li><a href="https://www.youtube.com/watch?v=rTYSHv4TRg0&list=PL5wE4Yt7L6lFacOVexeJWesa19N2xoHcf" target="_blank">Vídeos</a></li>
          <li><a href="http://www.correrpelomundo.com.br/busca-por-corridas/calendario-de-corridas-2017/" target="_blank">Esportes</a></li>

      </ul>

    </div>

    <!-- CHAMA A VARIAVEL POST DA view-->
    <div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
