<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog construído em Django 1.11</title>
  </head>
  <body>
    <div>
      <h1><a href="#">Blog construído em Django</a></h1>
    </div>

    <!-- CHAMA A VARIAVEL POST DA view-->
    {% for post in posts %}
        <div>
          <p>published: {{ post.published_date }}</p>
          <h1><a href="#">{{ post.title }}</a></h1>
          <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

  </body>
</html>
